<template>
  <div class="about">
    <h1>This is an about page</h1>
    <b-img :src="require('../assets/me.jpg')"></b-img>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>
