<template>
  <div>
    <h1>เอกสาร</h1>
    <b-modal
      id="modal-form-editdoc"
      ref="modal-form-editdoc"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อเอกสาร"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="วันที่"
          label-for="dateupload"
          :invalid-feedback="invalidFeedbackDate"
          :valid-feedback="validFeedbackDate"
          :state="stateDate"
        >
          <b-form-input
            id="dateupload"
            v-model="form.dateupload"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ไฟล์เกี่ยวกับสหกิจล่าสุด"
          label-for="fileupload"
          :invalid-feedback="invalidFeedbackFile"
          :valid-feedback="validFeedbackFile"
          :state="stateFile"
        >
          <b-form-input id="fileupload" v-model="form.fileupload" required>
          </b-form-input>
          <div style="text-align:right;">
            <b-button variant="info">เลือกไฟล์</b-button>
          </div>
        </b-form-group>
      </form>
    </b-modal>
    <b-table striped hover :items="docList" :fields="fields">
      <template v-slot:cell(download)="data">
        <b-button @click="downloadDoc(data.item)"
          ><b-icon icon="download"></b-icon
        ></b-button>
      </template>
      <template v-slot:cell(delete)="data">
        <b-button variant="danger" @click="delDoc(data.item)"
          ><i class="fas fa-trash-alt"></i
        ></b-button>
      </template>
    </b-table>
    <div style="text-align:center;">
      <b-button pill variant="info" class="center" @click="addNewDoc"
        >อัพโหลด</b-button
      >
      <a href=""> &#173; &#173; &#173; &#173; &#173; &#173; &#173; </a>
      <b-button pill variant="info" class="center">ยกเลิก</b-button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'อัพโหลดเอกสาร',
      form: {
        id: -1,
        name: '',
        dateupload: '',
        fileupload: ''
      },
      docList: [
        {
          id: 1,
          name: 'เกี่ยวกับสหกิจ',
          dateupload: '20/02/2563',
          uploadby: 'เจ้าหน้าที่',
          fileupload: ''
        },
        {
          isActive: false,
          id: 2,
          name: 'รายละเอียดเกี่ยวกับสหกิจ',
          dateupload: '21/02/2563',
          uploadby: 'เจ้าหน้าที่',
          fileupload: ''
        }
      ],
      lastId: 3,
      fields: [
        {
          key: 'id',
          label: 'ลำดับ',
          sortable: true
        },
        {
          key: 'name',
          label: 'ชื่อเอกสาร',
          sortable: true
        },
        {
          key: 'dateupload',
          label: 'วันที่อัพโหลด',
          sortable: true
        },
        {
          key: 'uploadby',
          label: 'อัพโหลดโดย',
          sortable: true
        },
        {
          key: 'download',
          label: 'ดาวน์โหลด',
          sortable: false
        },
        {
          key: 'delete',
          label: 'ลบ',
          sortable: false
        }
      ]
    }
  },
  methods: {
    addNewDoc: function () {
      console.log('Add new Document')
      this.$bvModal.show('modal-form-editdoc')
    },
    delDoc (editdoc) {
      console.log('Del')
      console.log(editdoc)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + editdoc.name + ' หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteDoc(editdoc)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        dateupload: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateDate === false) {
        return
      }
      // Do when pass valdation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addDoc(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-editdoc')
      })
    },
    addDoc (editdoc) {
      editdoc.id = this.lastId++
      editdoc.uploadby = this.uploadby = 'เจ้าหน้าที่'
      this.docList.push(editdoc)
    },
    downloadDoc (editdoc) {
      console.log('download complete')
    },
    deleteDoc (editdoc) {
      const index = this.docList.findIndex(item => item.id === editdoc.id)
      this.docList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateDate () {
      return this.form.dateupload.length >= 8
    },
    invalidFeedbackDate () {
      if (this.form.dateupload.length > 8) {
        return ''
      } else if (this.form.dateupload.length > 0) {
        return 'วันที่ต้องมีขนาดอย่างน้อย 8 ตัวอักษร'
      } else {
        return 'ต้องใส่วันที่'
      }
    },
    validFeedbackDate () {
      return this.stateDate === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
